<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace="ezenproject.dao.CouponDAO">
    
  <resultMap type="MemberDTO" id="MemberDTO">
  <id property="member_number" column="member_number"/>
  </resultMap>    
  
    <resultMap type="CouponDTO" id="CouponResult">
  <id property="num" column="num"/>
  <id property="coupon_number" column="coupon_number"/>
  <id property="member_number" column="member_number"/>
  <id property="coupon_type" column="coupon_type"/>
  <id property="coupon_value" column="coupon_value"/>

  <collection property="ezenmembers" resultMap="MemberDTO"/>
  	

 </resultMap>
    
    
    
    
    
    
    
    
    
    
    <!--//////////// 여기부터 관리자 페이지 매퍼////////////  -->
    
    
    <insert id="saveNewCoupon" parameterType="CouponDTO">
    insert into ezencoupons
    (num, coupon_number, member_number, coupon_type, coupon_value  )
    values(ezencoupons_num_seq.nextval, #{coupon_number}, #{member_number},
    #{coupon_type}, #{coupon_value})
    
    
    </insert>
    
    
    <!-- [공용] 해당 회원의 쿠폰 리스트 출력  -->
    <select id="list" parameterType="String" resultType="CouponDTO">
    <![CDATA[
    select*from ezencoupons 
    where member_number=#{member_number}
    order by coupon_type, coupon_value, num
    ]]>
    </select>
    
    
    <delete id="deleteCoupon" parameterType="int">
    delete from ezencoupons
    where num=#{num}
    </delete>
    
    
    <!-- /////////////여기까지 관리자 페이지 매퍼 ////////////////  -->
    
   <!-- /////////////여기부터 마이 페이지 매퍼 ////////////////  -->
    
    <select id="myCouponlist" parameterType="CouponDTO" resultMap="CouponResult">
    <![CDATA[
    select  c.num, c.coupon_number, c.member_number, c.coupon_type, c.coupon_value, m.member_number
    from ezencoupons c, ezenmembers m
    where c.member_number=m.member_number
    and c.member_number=#{member_number}
    order by c.num
    ]]>
    </select> 
     
    
    
    <!--쿠폰 사용할 때 없어지는것  -->
    <delete id="usedCoupon" parameterType="String">
    
    delete from ezencoupons
    where coupon_number=#{coupon_number}
    </delete>
    
    
    </mapper>