<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    
    <mapper namespace="ezenproject.dao.MemberDAO">
    
   	<select id="selectMemberInformation"
   		parameterType="int"
		resultType="ezenproject.dto.MemberDTO">
		SELECT num, member_number,member_id,member_pass,member_address,member_phone,member_email,member_type,member_name
		FROM ezenmembers WHERE num=#{num}
	</select> 
    
   <update id="deleteMemberInformation"
    parameterType="ezenproject.dto.MemberDTO">
    	UPDATE EZENMEMBERS SET member_status=0
		WHERE num=#{num}
    </update>   
    
    
    <update id="updateMemberInformation"
    parameterType="ezenproject.dto.MemberDTO">
    	UPDATE EZENMEMBERS SET member_pass=#{member_pass}, member_address=#{member_address}, member_phone=#{member_phone},
		member_email=#{member_email}
		WHERE num=#{num}
    </update>
    
    </mapper>