section {
	margin-top: 30px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}

.book_title {
	font-size: 25px;
	text-align: right;
}	

.book_sub {
	font-size: 13px;
	color: gray;
	text-align: right;
}
.list_price1{
	font-size: 14px; color: gray;
}
.list_price2{
text-align:right;
	font-size: 14px; color: gray;
}
.sell_price1{
	font-size: 17px; color: black;
}
.sell_price2{
text-align:right;
	font-size: 23px; color: blue;
}
.buy_box{
	width:300px;
	height:100%;
	background-color: #F5E2A0;
}
.vCenter {  display: flex;
    justify-content: center;
    align-content: center; }
