.inner{
 border-collapse: separate;
  border-spacing: 0 10px;
}
.inner>tr{
	height: 140px;
	vertical-align: top;
	cursor: pointer;
	padding-bottom: 10px;
}
.inner>tr>td{
		border-bottom: 1px solid #e5e5e5;
	}
.text_r{
	text-align: right;
}