section {
	margin-top: 30px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}







/*///////////////// book_detail에 삽입된 css 목록 시작 //////////////// */
/* col-md-3 */
.card-img-top{
	border-radius: 15px 0px 0px 15px;
	box-sizing: border-box;	  
}
.card_img{
	border-radius: 30px 0px 0px 30px;
}

/* col-md-6 */
#detail_main{
	border-radius: 0px 0px 25px 25px;
	padding: 10px;
	box-sizing: border-box;	 
}
.book_title {
	font-size: 25px;
	text-align: right;
	font-weight: bold;
}	
.book_story{
	text-align:justify;
	color: rgb(60,10,10);
	border-bottom: 2px solid;
}

.book_sub {
	font-size: 13px;
	color: gray;
	text-align: right;

}
.list_price1{
	font-size: 14px; color: gray;
}
.list_price2{
text-align:right;
	font-size: 14px; color: gray;
}
.sell_price1{
	font-size: 17px; color: black;
}
.sell_price2{
text-align:right;
	font-size: 23px; color: blue;
}

/* col-md-3 */
.buy_box{
	border: rgb(210,202,186,0.01) 10px solid;
	box-sizing: border-box;	 
	position: sticky;
	float: right;
	width: 100%;
	height: 530px;
	background:rgb(210,202,186,0.1);
	border-radius: 0px 30px 30px 0px ;
}
.vCenter {  display: flex;
    justify-content: center;
    align-content: center; }
.buy_area1{
	font-size:11px;
	 margin-left: 10px
}
.buy_area2{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.count_btn1{
	margin-right: -1px;
	width: 30px;
	border-right: 0px; 
	border: 2px solid #bcbdbf;
	background-color: #f5f5f5;
}
.count_btn2{
	border-radius: 0px 5px 5px 0px;
	margin-left: -1px;
	width: 30px;
	border-left: 0px; 
	border: 2px solid #bcbdbf;
	background-color: #f5f5f5;
}
.count_total{
	background-color: white; 
	width: 100px;
	height: 30px; 
	margin: 0px -3px 0px -3px ;
	border: 2px solid #bcbdbf;
	text-align: center;
}
.count_total_price{
	border-radius: 0px 5px 5px 0px;
	font-weight:bold;
	background-color: white; 
	width: auto; 
	border: 2px solid #bcbdbf;
	text-align: center;
	margin-top: 15px;
}
.buy_button1{
	font-weight:bold;
	background-color:rgb(145,145,145,0.2);
	color:black;
	border: solid 0px;
	border-radius: 8px;
	margin:0px 0px 10px 15px;
	width: 90%;
	height: 40px;
	
}
.cart_btn{
	font-weight:bold;
	background-color:rgb(145,145,145,0.2);
	color:black;
	border: solid 0px;
	border-radius: 8px;
	margin:0px 0px 10px 15px;
	width: 90%;
	height: 40px;
	
}
.buy_button2{
	font-weight:bold;
	background-color:white;
	color:#796e62;
	border: solid 0px;
	border-radius: 8px;
	margin:0px 0px 10px 15px;
	width: 90%;
	height: 40px;
}


/* book_detail 하위 목록 */
#row_area{
	background-color: #fefefe;
	border-radius: 15px; 
}
#new_books{
	 height: 80px; 
	 text-align: center;
	 animation : fadein 2s;
}

.slider {
   overflow:hidden;
   position:relative;
   width: 1500px;
   height:210px;
   margin: auto;
   display: flex;
    animation: fadein 5s; 
}
.image-box {
   width:5280px; 
   height:100%;
   display:flex;
   flex-wrap:nowrap;
   animation: bannermove 30s linear infinite;
}
@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}
@keyframes fadein {
 0% {
 opacity:0;
 }
 70%{
 opacity:0.5;
 }
 100% {
 opacity:1;
 }
}
#random_book_img{
	margin-left: 40px;
}

/*///////////////// book_detail에 삽입된 css 목록 끝 //////////////// */
/*///////////////// cart/list에 삽입된 css 목록 시작////////////////// */
.cart{
	width: 100%;
	
}
.white_space{
	width: 100%;
	float: left;
	
}
.cart_div_container{
	width: 60%;
	margin-left:120px;
	float: left;
	padding-top: 5px;

}
.cart_img_area{
	width: 15%;
	margin-bottom: 10px;
	border-radius: 0px 0px 0px 15px;
	border: 1px 0px 0px 0px	;
	border-top:black solid 3px;
}
.cart_product_area{
	width: 35%;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	border-top:black solid 3px;
}

.cart_area1{
	margin-top: 7px;
	border-collapse: separate;
	border-spacing: 0px 0px;
	
}
.cart_title{
	font-size: 15px; 
	color: black;
}
.cart_sub{
	font-size: 10px;
	color: gray;
}
.cart_coupon{
	width: 25%;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	border-top:black solid 3px;
}
.cart_quantity{
	width: 25%;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	border-radius: 0px 0px 15px 0px;
	border-top:black solid 3px;
}
.cart_count_btn1{
	width: 30px;
	border-right: 0px; 
	border: 2px solid #bcbdbf;
	background-color: #f5f5f5;
}
.cart_count_btn2{
	border-radius: 0px 5px 5px 0px;
	width: 30px;
	margin-left:-50px;
	border-left: 0px; 
	border: 2px solid #bcbdbf;
	background-color: #f5f5f5;
}
.cart_count_total{
	background-color: white; 
	width: 80%;
	margin-left:-5px;
	height: 30px; 
	border: 2px solid #bcbdbf;
	text-align: center;
}
.cart_count_total_price{
	border-radius: 0px 5px 5px 0px;
	font-weight:bold;
	background-color: white; 
	width: 90%;
	border: 2px solid #bcbdbf;
	text-align: center;
	margin-top: 15px;
}

.cart_buy_area{
	height: 400px;
	float: left;
	
}
.cart_buy{
	width: 70%;
	height: 100%; 
	margin-left: 30px;
	border-radius: 0px 0px 15px 15px;
	border-top:black solid 3px;
	margin-top:5px;
	float: left;
	background-color: #f5f5f5;
	
}
.cart_table{
	margin:10px;
	padding: 10px;
	min-height: 150px;
	border-radius: 0px 0px 10px 10px;	
	
}
.cart_table2{
	border-top: black solid 1px;
	min-height: 150px;
	border-radius: 0px 0px 10px 10px;
	background-color: rgb(253,253,253);
	width: 100%;
	
}
.cart_order{
	font-weight:bold;
	background-color:gray;
	color:#796e62;
	border: solid 0px;
	border-radius: 8px;
	margin:20px 10px 20px 10px;
	width: 90%;
	height: 40px;
}
 .dead_area{
	width: 2%;
	height: auto;
	background-color: rgb(255,255,255,0.0);
	float:inherit;
	padding-top: 5px;
} 